<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="p-4">
          <div class="d-flex flex-row">
            <div class=""><img src="{{user.image}}" alt="user"
                class="rounded-circle" width="200" /></div>
            <div class="pl-4">
              <h3>{{user.name}}</h3><h4>{{#ifCond user.isAdmin true}}管理員{{/ifCond}}</h4>
              <h4>{{user.email}}</h4>
              <a class="btn btn-success btn-rounded text-white text-uppercase font-14" href="/users/{{user.id}}/edit"><i class="fa fa-edit"></i> Edit</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>